<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ServletWebProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SumServlet</display-name>
    <servlet-name>SumServlet</servlet-name>
    <servlet-class>com.SumServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SumServlet</servlet-name>
    <url-pattern>/SumServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FactorialServlet</display-name>
    <servlet-name>FactorialServlet</servlet-name>
    <servlet-class>com.FactorialServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FactorialServlet</servlet-name>
    <url-pattern>/FactorialServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDataServlet</display-name>
    <servlet-name>GetDataServlet</servlet-name>
    <servlet-class>com.GetDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDataServlet</servlet-name>
    <url-pattern>/GetDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RailwayBServlet</display-name>
    <servlet-name>RailwayBServlet</servlet-name>
    <servlet-class>com.RailwayBServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RailwayBServlet</servlet-name>
    <url-pattern>/RailwayBServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RailwayShowDataServlet</display-name>
    <servlet-name>RailwayShowDataServlet</servlet-name>
    <servlet-class>com.RailwayShowDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RailwayShowDataServlet</servlet-name>
    <url-pattern>/RailwayShowDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>com.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HeaderServlet</display-name>
    <servlet-name>HeaderServlet</servlet-name>
    <servlet-class>com.HeaderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HeaderServlet</servlet-name>
    <url-pattern>/HeaderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FooterServlet</display-name>
    <servlet-name>FooterServlet</servlet-name>
    <servlet-class>com.FooterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FooterServlet</servlet-name>
    <url-pattern>/FooterServlet</url-pattern>
  </servlet-mapping>
</web-app>